@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}
@layer base {
     @font-face {
        font-family: "Iran Bold";
        src: local("Iran Bold"),
            url("/public/font/woff/iranyekanwebbold.woff");
        font-display: swap;
    }
    @font-face {
        font-family: "Iran medum";
        src: local("Iran medum"),
            url("/public/font/woff/iranyekanwebmedium.woff");
        font-display: swap;
    }
    @font-face {
        font-family: "Iran regular";
        src: local("Iran regular"),
            url("/public/font/woff/iranyekanwebregular.woff");
        font-display: swap;
    }
    @font-face {
        font-family: "Iran thin";
        src: local("Iran thin"), url("/public/font/woff/iranyekanwebthin.woff");
        font-display: swap;
    }
    @font-face {
        font-family: "IranFaNum";
        src: local("IranFaNum"), url("/public/font/woff/IRANYekanBlackFaNum.ttf");
        font-display: swap;
    }
    @font-face {
        font-family: "Iran Block";
        src: local("Iran Block"),
            url("/public/font/woff/iranyekanwebblack.woff");
        font-display: swap;
    }
    @font-face {
        font-family: "Iran Light";
        src: local("Iran Light"),
            url("/public/font/woff/iranyekanweblight.woff");
        font-display: swap;
    }
}

@layer components {
    /* footer */
    /*footer------------------------*/

footer {
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding: 80px 10px 0;
    background: #eceff1;
    position: relative;
    line-height: 22px;
    overflow: hidden;
    float: right;
    text-align: center;
}

footer .footer-jump {
    position: absolute;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #cfd8dc;
    text-align: center;
}

footer .footer-jump a {
    text-decoration: none;
}

footer .footer-jump a .footer-jump-angle {
    font: 18px iranyekan;
    color: #4a4a4a;
    line-height: 55px;
}

footer .footer-jump a .footer-jump-angle i {
    vertical-align: middle;
    font-size: 25px;
    background: hsla(0, 0%, 74.5%, .41);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    margin-left: 10px;
}

.footer-inner-box {
    width: 100%;
    height: auto;
    float: right;
    margin-top: 10px;
    text-align: center;
    display: block;
}

.footer-inner-box a {
    margin-bottom: 10px;
    text-decoration: none;
    width: 215px;
    display: inline-block;
}

.footer-inner-box a img {
    width: 70px;
    height: 70px;
}

.footer-inner-box a .item-feature {
    display: block;
    margin-top: 10px;
    font: 14px iranyekan;
    width: 100%;
    text-align: center;
    color: #606060;
    float: right;
    padding-left:140px;
}

.middle-bar-footer {
    width: 100%;
    height: auto;
    float: right;
    margin-top: 10px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.middle-bar-footer .footer-links {
    width: 100%;
    height: auto;
    float: right;
    margin-top: 20px;
    padding: 0 10px;
}

.middle-bar-footer .footer-links .links-col {
    width: 195px;
    height: auto;
    float: right;
    overflow: hidden;
}

.middle-bar-footer .footer-links .links-col a.head-line {
    font: 14px iranyekan;
    color: #4a5f73;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    font: 15px iranyekan;
}

.middle-bar-footer .footer-links .links-col ul.links-ul li {
    margin-bottom: 10px;
}

.middle-bar-footer .footer-links .links-col ul.links-ul li a {
    font: 14px iranyekan;
    color: #4b4b4b;
    text-decoration: none;
    font: 13px iranyekan;
    font-weight: 300;
}

footer .footer-form {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 20px;
    padding: 0 10px;
}

footer .footer-form span.newslitter-form {
    font: 16px iranyekan;
    color: #4b4b4b;
    display: block;
    text-align: right;
}

footer .footer-form form {
    width: 80%;
    height: 40px;
    float: right;
    border-radius: 5px;
    position: relative;
    margin-top: 15px;
    overflow: hidden;
}

footer .footer-form form .input-footer {
    width: 100%;
    height: 40px;
    outline: none;
    text-align: left;
    background: #fff;
    border: 1px solid #c8c8c8;
    color: #717171;
    float: right;
    padding: 0 10px 0 80px;
    font: 12px iranyekan;
    border-radius: 5px;
}

footer .footer-form form .input-footer::placeholder {
    text-align: right;
}

footer .footer-form form .btn-footer-post {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 20px;
    font: 14px iranyekan;
    height: 40px;
    background: #00bfd6;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    transition: all 400ms ease;
}

footer .footer-form form .btn-footer-post:hover {
    background: #08e3fd;
    transition: all 400ms ease;
}

footer .footer-social {
    width: 100%;
    height: auto;
    float: right;
    margin-top: 35px;
    padding: 0 10px;
    margin-left: 15px;
}

footer .footer-social .newslitter-form-social {
    font: 14px iranyekan;
    color: #4b4b4b;
    width: 100%;
    display: block;
    text-align: right;
}

footer .footer-social .social-links {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    overflow: hidden;
    text-align: right;
}

footer .footer-social .social-links a {
    width: 40px;
    height: 40px;
    color: #9c9c9c;
    display: inline-block;
    font-size: 25px;
    line-height: 40px;
}

footer .footer-address {
    width: 100%;
    height: auto;
    float: right;
    margin-top: 20px;
    margin-bottom: 15px;
}

footer .footer-address .footer-contact {
    width: 50%;
    height: auto;
    float: right;
    font: 14px iranyekan;
    margin-bottom: 10px;
}

footer .footer-address .footer-contact ul li {
    color: #616161;
    margin-bottom: 10px;
}

footer .footer-address .footer-contact ul li a {
    text-decoration: none;
    color: #616161;
    position: relative;
    padding-left: 30px;
}

footer .footer-address .footer-contact ul li a.phone-contact::before {
    content: "";
    display: block;
    height: 24px;
    background: #bbb7b7;
    position: absolute;
    left: 0;
    width: 1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

footer .footer-address .footer-contact ul li.email-title {
    float: right;
    margin-right: 20px;
}

footer .footer-address .address-images {
    width: 31%;
    height: 65px;
    float: left;
    line-height: 63px;
}

footer .footer-address .address-images img {
    width: 150px;
}

footer .more-info {
    width: 100%;
    height: auto;
    background: #d7dee0;
    float: right;
    padding: 20px 0;
}

footer .more-info .about-site {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-bottom: 1px solid #c5c4c4;
}

footer .more-info .about-site h1 {
    font: 16px iranyekan;
    font-weight: bold;
    margin-bottom: 15px;
    color: #616161;
}

footer .more-info .about-site p {
    font: 12px iranyekan;
    color: #535353;
}

footer .copy-right-footer {
    width: 100%;
    height: auto;
    float: right;
    text-align: center;
}

footer .copy-right-footer p {
    font: 12px iranyekan;
    line-height: 30px;
    color: #535353;
    margin-bottom: 0;
}

    /* endfooter */
    .overlay {
      @apply fixed inset-0 w-full h-full bg-black/40 z-10;
    }
    .menos {
      /* @apply scrollbar-track-gray-800 scrollbar-thumb-red-400 dark:scrollbar-thumb-zinc-100 overflow-y-auto scrollbar-thin  top-0 right-0 w-64  min-h-screen bg-white flex-col fixed z-20 dark:bg-zinc-700 dark:text-white; */
    }
    .menosShop {
      @apply top-0 left-0 w-64  min-h-screen bg-white flex-col fixed z-20 dark:bg-zinc-700 dark:text-white;
    }

    .subopenmeno {
      @apply flex flex-col font-iran-Med  p-5 opacity-100  bg-white dark:bg-zinc-700   dark:text-white text-zinc-700 text-sm tracking-normal space-y-4 transition-all child:inline-block font-normal  child-hover:text-orange-300 top-full delay-75 pr-3;
    }

    .subMenu::after {
      content: " ";
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 100px;
      background-color: #fdba74;
      position: absolute;
      right: 0;
      top: 0;
      bottom: -6px;
      margin: auto;
    }
    .subMenu {
      padding-right: 10px;
      position: relative;
      color: #fdba74;
    }
    .dir {
      direction: ltr;
      /* @apply flex  overflow-y-auto scrollbar-track-gray-800 scrollbar-thumb-red-400 dark:scrollbar-thumb-zinc-100  scrollbar-thin; */
    }

    .button,
    .input {
      -webkit-appearance: none; /* Safari and Chrome */
      -moz-appearance: none; /* Firefox */
      appearance: none; /* Standard */
    }
    .crice {
      @apply flex justify-center items-center border rounded-full;
    }
    .crice__lg {
      @apply w-[203px] h-[203px] border-white/25;
    }

    .crice__md {
      @apply w-[145px] h-[145px] border-white/50;
    }
    .crice__sm {
      @apply w-[95px] h-[95px] border-white/80;
    }
    .crice_main {
      @apply absolute left-0 bottom-0 right-0 mx-auto translate-y-2/4;
    }
    object {
      display: inline-block;
    }
    .selector {
      appearance: none;
    }
    @media screen and (min-width: 980px) {
      html.dark .prodcrt {
        background-image: url("/public/img/body-bg.png");
        background-repeat: no-repeat;
        background-size: 100%;

      }
      .prodcrt {
        background: linear-gradient(
            rgba(243, 244, 246, 0.65),
            rgba(243, 244, 246, 0.65)
          ),
          url("/public/img/body-bg.png");

        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
    .sectoin_title {
      @apply text-5xl font-iran-Med text-zinc-700 dark:text-white;
    }
    .sectoin_subtilte {
      @apply inline-block text-3xl font-iran-Med mt-1.5 text-zinc-700 dark:text-white;
    }
    .sectoin_arow {
      @apply flex items-center justify-center text-xl   md:gap-x-1 text-orange-300 tracking-tighter rounded-md hover:bg-orange-300/20 transition-colors h-10;
    }
    .sectoin_Body {
      @apply grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-4 md:gap-5 child:h-[200px] child:md:h-[460px] child:bg-white child:dark:bg-zinc-700 child:shadow-norml child:rounded-xl gap-y-3 gap-x-2;
    }
    .offer {
      @apply relative text-gray-400;
    }
    .offer::after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: #ef4444;
      position: absolute;
      inset: 0;
      margin: auto;
      top: -2px;
    }
    .category-item1 {
      background: linear-gradient(
          270deg,
          rgba(0, 0, 0, 0.6) 33.85%,
          rgba(243, 244, 246, 0.1) 100%
        ),
        url("/public/img/categories/category-left.jpg");

      background-repeat: no-repeat;
      background-size: cover;
    }
    .category-item2 {
      background: linear-gradient(
          270deg,
          rgba(0, 0, 0, 0.6) 33.85%,
          rgba(243, 244, 246, 0.1) 100%
        ),
        url("/public/img/categories/category-right.jpg");

      background-repeat: no-repeat;
      background-size: cover;
    }

  }
  @layer utilities {
    .flexcenter {
      @apply flex items-center justify-center;
    }
  }


  